

services:
  db:
    image: postgres:latest
    container_name: db
    environment:
      POSTGRES_DB: django_db
      POSTGRES_USER: django_user
      POSTGRES_PASSWORD: django_pass
    volumes:
      - postgres_data:/var/lib/postgresql
    ports:
      - "5432:5432"

  web:
    build: .
    container_name: django_app
    command: python manage.py runserver 0.0.0.0:8000 
    volumes:
      - .:/app
      - ./media:/app/media
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      - DJANGO_DB_HOST=db
      - DJANGO_DB_NAME=django_db
      - DJANGO_DB_USER=django_user
      - DJANGO_DB_PASSWORD=django_pass

volumes:
  postgres_data: