name: CICD - Produção
on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Install SSH Key
      uses: shimataro/ssh-key-action@v2
      with:
        key: ${{ secrets.SSH_PRIVATE_KEY_PROD }}
        known_hosts: ${{ secrets.KNOWN_HOSTS_PROD }}
        if_key_exists: replace
    - name: Deploy to host
      run: ${{ vars.SSH_CMD_PROD }} ${{ vars.DEPLOY_CMD_PROD }}
